/* @import url(https://fonts.googleapis.com/css?family=Arvo:400,700,400italic); */


/* ================================================================ */
/* Reset */
/* ================================================================ */

/* MeyerWeb Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ================================================================ */
/* Global styles */
/* ================================================================ */


/* Base text styles */

body {
  color: rgb(5,5,5);
  background-color: white;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Segoe UI, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

section {
  width:55%;
  float: none;
  margin: auto;
  padding-bottom: 3em;
}

p, ul, ol, table, dl {
  margin:0 0 10px;
}

p {
    text-indent: 0px;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  margin:36px 0 10px;
  text-align: left;
}

h1, h2, h3 {
  line-height:1.3;
  font-weight: 600;
  display: block;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
}

h1 {
  font-size: 34px;
  padding-bottom: 1em;
  border-bottom: 0;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
  border-bottom: 0px;
}

h4, h5 {
  font-weight: 700;
}

h6 {
  font-weight: 200;
}

a {
  color: blue;
  font-weight:200;
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}

a small {
  font-size: 12px;
}

em {
  font-style: italic;
}

strong {
  font-weight:700;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

ul {
  list-style-position: inside;
  list-style: disc;
  padding-left: 25px;
}

ol {
  list-style-position: inside;
  list-style: decimal;
  padding-left: 25px;
}

blockquote {
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

dl, dt, dd, dl p {
  color: #444;
}

dl dt {
  font-weight: bold;
}

dl dd {
  padding-left: 20px;
  font-style: italic;
}

dl p {
  padding-left: 20px;
  font-style: italic;
}

hr {
  border:0;
  background:#ccc;
  height:1px;
  margin:0 0 24px;
}

/* Images */

img {
  position: relative;
  margin: 0 auto;
  height: auto;
  max-width: 100%;
  padding: 30px 0px 30px;
  margin: 0px 0 0px 0;
  border: 0px solid #ccc;
}

p img {
  display: inline;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

.logos_row img {
  display: inline;
  margin: 1%;
  padding: 0;
  vertical-align: middle;
  text-align: center;
  border: none;
}

figure {
  border: 1px solid #ccc;
  background: white;
  text-align: center;
}

figcaption {
  font-size: 12px;
  background: white;
  line-height: 150%;
  margin-right: 1%;
  margin-left: 1%;
  text-align: left;
}



/* Tables */

table {
  width: 100%;
  border: 0;
  margin: 30px 0px;
  text-align: left;
 }

table.figure_controls {
  font-size: 10px;
  line-height: 100%;
  margin-bottom: 0px;
}

table caption {
  font-weight: 700;
  text-align: left;
  background-color: #b7b7b7;
  padding-left: 5px;
}

th {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 700;
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 8px;
  background: #e0e0e0;
  color: black;
 }

td {
  padding-right: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #eee;
 }

/*
table tr:nth-child(odd) td{
  background-color: rgb(230, 230, 230);
}
table tr:nth-child(even) td{
  background-color: rgb(240, 240, 240);
}
*/


/* Programme formatting =================== (start) */

.event_break td {
  background-color: rgb(208, 239, 251);
}


.event_photo td {
  background-color: rgb(106, 248, 170);
}

.event_invited_talk td {
  background-color: rgb(241, 165, 94);
}

.event_poster_flash_round td {
  background-color: rgb(224, 236, 209);
}

.event_sponsor_technobite td {
  background-color: rgb(166, 252, 240);
}

.event_sponsor_talk td {
  background-color: rgb(166, 252, 240);
}

.session_header td {
  background-color: white;
  padding-top: 20px; 
  padding-left: 0px;
}

.time_program {
  white-space: nowrap;
}
/* Programme formatting ===================== (end) */



/* Wrapper */
.wrapper {
  width:100%;
}



/* Sidebar */
.sidebar {
  position: fixed;
  margin-top: 50px;
  padding: 20px 50px;
  display: inline-block;
  background-color: #eee;
}

.sidebar_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 3em;
}

.instructions_list li {
  margin: 20px 0;
}

.instructions_list li::marker {
  font-weight: bold;
}

/* ================================================================ */
/* Main */
/* ================================================================ */





/* ================================================================ */
/* Header */
/* ================================================================ */


/* (start) Navigation bar ========================================= */


header {
  background-color: black;
}

/* Add a black background color to the top navigation */
.navigationbar {
  display: table;
  margin: 0 auto;
  text-align: center;
  background-color: black;
  color: black;
  margin-bottom: 50px;
  padding: auto;
}

/* Style the links inside the navigation bar */
.navigationbar ul {
  list-style: none;
  display: inline; /* IE6/7 haslayout trip-switch, and IE6/7 only need ul to be display inline, yet does no harm to others */
}

.navigationbar li {
  display: inline;
}

/* Style the links inside the navigation bar */
.navigationbar a {
  float: left;
  text-decoration: none; /* undo default underline*/
  padding: 0 30px; /* variable width */
  font-weight: normal;
  font-size: 20px;
  color: white;
  padding: 16px;
  width: 110px;
}

/* Change the color of links on hover */
.navigationbar a:hover {
  color: #8a8a8a;
}

/* Put logo (links to the homepage) to the left on the navigation bar. */
.logo_navigationbar img{
  float: right;
  padding: 0px;
}


/* (end) Navigation bar =========================================== */


/* (start) Button formatting ===================================== */

.button {
  display: inline-block;
  border-radius: 5px;
  background-color: rgba(200, 0, 200, 1);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* (end) Button formatting ======================================== */


/* (start) Banner image formatting ================================ */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)), url("../images/Homepage_image.png");
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  border-bottom: 1px solid white; /* white line below the image */
}

.hero-text {
  text-align: center;
  top: 50%;
  left: 50%;
  color: white;
  font-size: 20px;
  color: white;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: normal;
  font-style: normal;
  height: 100%;
}

.hero-text h1 {
  text-align: center;
  color: white;
}
/* (end) Banner image formatting ================================== */


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}